@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind css 적용을 위해서는, @apply 사용 */
.bg-primary { /* 해당 class명을 layout에서 참조시 자동적용*/
    @apply bg-white dark:bg-slate-900
}


.btn-project {
    @apply inline-flex text-white hover:text-white hover:bg-indigo-600 text-lg border-0 py-2 px-6 focus:outline-none 
           dark:text-white bg-indigo-500 
}

.project-card {
    @apply  flex flex-col mt-10 ml-40 mr-40 mb-10 pl-10 pr-10 pb-5 pt-5
            transition duration-700 transform border border-l-gray-900
            hover:scale-105
            hover:shadow-lg
            dark:border-gray-300/50
            /* 그림자 opacity 40*/
            dark:hover:shadow-gray-400/40 
            hover:text-blue-600
}


h1, h2, h3, h4, h5, h6 {
    @apply text-slate-900 dark:text-white
}

footer {
    @apply text-gray-600
            bg-gray-100 
            dark:text-white
            dark:bg-slate-800
}

a {
    @apply text-slate-500 hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-50
}

p {
    @apply text-slate-500 dark:text-slate-300
}