@tailwind base;
@tailwind components;
@tailwind utilities;

/*css 초기화*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* tailwind css 적용을 위해서는, @apply 사용 */
.bg-primary { /* 해당 class명을 layout에서 참조시 자동적용*/
    @apply bg-white dark:bg-slate-900 w-full 
}


.btn-project {
    @apply inline-flex text-white hover:text-white hover:bg-indigo-600 text-lg border-0 py-2 px-6 focus:outline-none 
           dark:text-white bg-indigo-500 
}

.project-card {
    @apply  flex flex-col mt-10 ml-40 mr-40 mb-10 pl-10 pr-10 pb-5 pt-5
            transition duration-700 transform border border-l-gray-900
            hover:scale-105 
            rounded-2xl
            hover:shadow-lg
            dark:border-gray-400/50
            /* 그림자 opacity 40*/
            dark:hover:shadow-gray-400/40 
            hover:text-blue-600
            overflow-hidden
}

/* tag */
h1, h2, h3, h4, h5, h6 {
    @apply text-slate-900 dark:text-white
}

footer {
    @apply text-gray-600
            bg-gray-100 
            dark:text-white
            dark:bg-slate-800
}

a {
    @apply text-slate-500 hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-50
}

p {
    @apply text-slate-500 dark:text-slate-300 mr-4
}

/* table */
.table_set{
    @apply table-auto md:table-fixed w-full mt-4 mb-8 
}

.table_set tbody{
    @apply border-red-100
}

.table_set tbody tr td{
   @apply p-1.5 text-center text-slate-700 dark:text-slate-200
   border border-slate-500 dark:border-slate-400 text-xs overflow-hidden
   
}


/* code highlighting */
.gataby-highlight{ 
    @apply flex flex-col justify-center
    bg-gray-100 dark:bg-gray-800
    p-1.5 text-slate-700 dark:text-slate-200 w-full lg:w-1/2
     border-slate-500/40 dark:border-slate-400 text-sm sm:text-lg overflow-hidden
     border rounded-lg 
}

.gataby-highlight pre.language-jsx{
    @apply m-1 sm:m-4
}

div.language-jsx{
    @apply w-full
}

.token_comment{
    @apply text-xs text-blue-800 dark:text-blue-300

}